@(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>GorillaBuilderz Stock Streamer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">

    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/bootstrap-responsive.css")" rel="stylesheet">    
	
	<style type="text/css">
		.up {color: green;}
		.down {color: red;}
	</style>
  </head>
  <body>
    <div class="container-fluid">
    	<img alt="GorillaBuilderz" src="@routes.Assets.at("img/logo.png")">
    	<p class="lead">Stock Streamer</p>

		<div class="row-fluid">
			<div class="span6">
				@content
			</div>
		</div>
		<footer>
			<a href="http://gorillabuilderz.com.au/">http://gorillabuilderz.com.au/</a>
		</footer>
    </div>
  </body>
</html>