
@main {
	<!-- ko if: serverError -->
	<div class="row-fluid">
		<div class="span6">
			<div class="alert alert-error fade in">
			  	<strong>Error</strong> Having problems connecting to server, will try again in <strong><span data-bind="text: serverErrorRetryCountdown()"></span> seconds</strong>.
			  	<span data-bind="if: retrying"><br>Retrying...</span>
			</div>
		</div>
	</div>
	<!-- /ko -->
	<div class="row-fluid">
		<div class="span6">
		   	<table class="table">
		   		<thead>
		   			<tr>
		    			<th>Symbol</th>
		    			<th>Last Price</th>
		   			</tr>
		   		</thead>
		   		<tbody data-bind="foreach: stocks">
			    	<tr data-bind="css: { up: direction() == '+', down: direction() == '-' }, flashUpdate: direction">
						<td data-bind="text: symbol"></td>
						<td data-bind="text: price"></td>
					</tr>    
		   		</tbody>
			</table>
		</div>
	</div>
  
    <script src="@routes.Assets.at("js/jquery-1.8.2.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/knockout-2.1.0.js")"></script>
    <script src="@routes.Assets.at("js/knockout.mapping-2.3.2.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
}